@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&display=swap');


/* font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

.App {
  /* text-align: center; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1D1F26;
  font-family: 'Poppins', sans-serif;

}
a{
  text-decoration: none;
}
.btn-custom-1{
  background-image: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
  height: 48px;
  width: 150px;
margin-left: 20px;

  
}
.btn-custom-1 a{
  color: white;
font-size: 13px;
font-weight: 400;
}
.fa-bars{
  color: white;
  font-size: 30px;
}

.navbar-nav .nav-item .nav-link{
  color: white;
  padding: 50px 17px;
  /* margin-top: -30px; */

  font-weight: 400;
  height: 10px !important;
}
.navbar{
  padding-top: 0px !important;
}


.ak_brandlogo{
  margin-left: 30px;
/* width: 80px; */
  padding: 10px 0 !important;


}
.navbar-brand  {
  margin-top: -11px !important;
}
.active{
  background-image: linear-gradient(180deg, #225478 0%, #3a91bc 100%) !important;
  width: 130px;
  text-align: center;
}
.navbar-expand-lg{
  padding: 0 !important;
}

.ak_herobanner{
  background-image: url(../../assests/images/ak_banner1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 82vh;
  width: 100%;
}

.ak_hero_section{
  font-family: 'Bebas Neue', cursive
}

.btn-custom-2{
   border-style: solid;
  border-width: 3px;
  border-image:  linear-gradient(180deg, #225478 0%, #3a91bc 100%) 1 ;

height: 55px;
width: 140px;
}
.btn-custom-2 a{
  color: white;
}

.fa-angle-right{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
  -webkit-background-clip:text;
-webkit-text-fill-color:transparent;
font-size: 18px;

}
.btn-custom-3{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);

height: 55px;
width: 140px;
}
.btn-custom-3 a{
  color: white;

}

.ak_hero_content h1{
  width: 90%;
  color: white;
  font-size: 70px;
}
.ak_hero_content p{
  width: 65%;
  color: #C7C8C9;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
}
.ak_hero_content {
padding: 100px 0px;
padding-left: 110px;  
}

.ak_hero_image img{
  padding: 110px 0;
}

.ak_bitcoin_line{
  /* padding: 100px 0; */
  margin-top: 110px;
}
.ak_bitline{
  height: 80px;
}
.ak_bitcoin_line h1{
  color: white;
  margin-top: 20px;
}
.ak_bitcoin_line p{
  color: #C7C8C9;
}

.ak_bitbanner{
  background-image: url(../../assests/images/ak_bitcoin_banner.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 160px;
  
}


/* Contact Section */

.ak_contactbanner{
  background-image: url(../../assests/images/ak_contact_banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  width: 100%;

}

.ak_contact_con_text2{
  padding-left: 120px;
  font-size: 13px;

}
.ak_contact_content{
  margin-top: 90px !important;
}
.ak_contact_content2{
color: #C7C8C9;
font-weight: 300;
font-size: 14px;
padding-left: 120px;
}
.ak_contact_con_text{
padding-left: 120px;

}
.ak_contact_span{
  color: #6b6b6b;
  font-size: 13px;
  font-weight: 400;
}

input{
  background-color: #282A32 !important;
  border-color: #3D3E42 !important;
  height: 50px;
}
::placeholder{
  font-size: 14px !important;
}
.form-control{
  background-color: #282A32 !important;
  border-color: #3D3E42 !important;


}

.btn_contact{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
width: 130px;
height: 45px;
margin-left: 15px;
margin-top: -20px;
}
.btn_contact a{
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.ak_socials{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
  height: 45px;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;

}
.ak_socials i{
  font-size: 20px;
  padding: 0 15px;
}
.ak_contactbanner2{
  background-image: url(../../assests/images/ak_footer_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  margin-top: 20px;
}

.ak_contactbanner2_text{
  color: white;
  text-transform: uppercase;
  margin-top: 100px;
  font-family: 'Bebas Neue', cursive;
}

.btn_contact3{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
width: 160px;
height: 45px;

margin-top: 20px;
}
.btn_contact3 a{
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.ak_contact2_content{
  padding-left: 140px;
}
footer{
  background-color: #24262D;
}
.ak_footer_Input{
  background-color: white !important; 

}
.input-group{
  width: 270px !important;
  background-color: white ;
  border-style: none !important;
}
.input-group input{
  background-color: white !important;
  border-style: none !important;

}
.btn_footer{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
  width: 100px;
height: 37px;
margin-right: 10px;
border-radius: 0px;

}
.btn_footer a{
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}
footer a{
  font-size: 14px;
  color: #3D3E42  ;
}
.ak_footer_foot{
  border: 1px solid gray ;
  border-bottom:none ;
  font-size: 13px;
  padding: 0 60px;
}

.ak-f-1{
  padding-right: 200px;
}
/* .ak-f-2{
  padding-left: 100px;
} */

.ak_footer_top{
  padding-top: 270px;
}
.ak_footer_toptext{
  font-size: 14px;
}

@media only screen and (max-width: 430px) {
  .ak_hero_content {
margin: 10px 0px;
padding-left: 0;  
text-align: center;
}

.ak_hero_image img{
  padding: 10px 0;
  
  
}
.ak_hero_image
{
  display: flex;
  justify-content: center;  
}
.ak_bitcoin_line{
  padding: 10px 0;
}

.ak_hero_content h1{
  width: 100%;
  color: white;
  font-size: 70px;
}
.ak_hero_content p{
  width: 100%;
  
}
.ak_contact2_content{
  padding-left: 0px;
}
 .ak_footer_top{
   padding-top: 50px;
 }
 .btn_contact {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 85px;
  
 }
 .ak-f-1 {
  padding-right: 0px;

}
.ak-f-1 h4{
  text-align: center;
}
.ak_contact_content2 {
  color: #C7C8C9;
  font-weight: 300;
  font-size: 14px;
  padding-left: 0px;
  text-align: center;
}
.ak_location_icon{
  display: none;
}
.ak_contact_con_text{
  text-align: center;
  padding: 0;
}
.ak_contact_con_text2{
  text-align: center;
  padding: 0;
}
.ak_form_hight{
margin-top:0 !important ;
margin-bottom: 10px !important; 
}
.ak_footer_foot{
  text-align: center !important; 
  padding: 0 ;
}
.ak_footer_text1{
  text-align: center !important;
}
}

@media only screen and (max-width: 912px) {

  .ak_footer_top_logo{
    display: flex;
    justify-content: center;
  }
  .ak_hero_content {
margin: 10px 0px;
padding-left: 0;  
text-align: center;
}

.ak_hero_image img{
  padding: 10px 0;
  
  
}
.ak_hero_image
{
  display: flex;
  justify-content: center;  
}
.ak_bitcoin_line{
  padding: 10px 0;
}

.ak_hero_content h1{
  width: 100%;
  color: white;
  font-size: 70px;
}
.ak_hero_content p{
  width: 100%;
  
}
 
}
/* @media only screen and (max-width: 1400px) {
  .ak_hero_content {
margin: 10px 0px;
padding-left: 0;  
text-align: center;
}

.ak_hero_image img{
  padding: 10px 0;
  
  
}
.ak_hero_image
{
  display: flex;
  justify-content: center;  
}
.ak_bitcoin_line{
  padding: 10px 0;
}

.ak_hero_content h1{
  width: 100%;
  color: white;
  font-size: 70px;
}
.ak_hero_content p{
  width: 100%;
  
}
 
} */