@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&display=swap');


/* font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

.App {
  /* text-align: center; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #24262D;
  font-family: 'Poppins', sans-serif;

}
a{
  text-decoration: none;
}



 /* about us */
 .ak_aboutusbanner{
  background-image: url(../../assests/images/ak_about_banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 65vh;
  width: 100%;
  /* margin-top: -16px; */
}
.ak_aboutus_bg{
  background-image: url(../../assests/images/ak_about_bg.png);
  background-position:  left ;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: 26%  ;
  background-position: left  top 29%;;
  min-height: 70px ;
  margin-top: 50px;

  
  }
  .ak_text-custom_about1{
    color: white;

  }
  .ak_text-custom_about2{
    color: #C7C8C9;
    font-size: 14px;
    line-height: 25px;
    width: 78% !important;
  

    
    margin-left: 0px !important;
    padding-top: 20px;
    
  }

  .ak_text-custom_about01{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* .ak_about_banner2{
    background-image: url(assests/images/ak_mid_bg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100% ;
  } */

  .ak_about_textp{
    color: #C7C8C9;
    font-size: 14px;
  }

  .ak_about_image2{
    padding-right: 50px !important;
  }

  .acc-card {
    color: white;
    background-color: #24262D;
    /* border-bottom: 1px solid rgb(31, 31, 31); */
    /* width: 70%; */
    border-style: none !important;
  }

  
  .ans {
    text-align: left;
    border-left: 2px solid #148dea;
    margin-left: 35px;
  }

.ak_faq_bannner1{
  background-image: url(../../assests/images/ak_faq_banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 60vh;
  margin-top: -170px;
}
.stats {
  margin-top: 70px;
  margin-bottom: 40px;
  background-image: url(../../assests/images/ak_mid_bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  
}

.carousel-item{
  min-height: 280px;
}
.title {
  font-size: 25px;
  font-weight: 100
}

.icon {
  position: relative;
  bottom: 11px
}

.mt-100 {
  margin-top: 100px
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -40px;

}

.cardak {
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  width: 80%;
  min-height: 350px;
  background-color: #1D1F26;
  color: white;

  
}

.card-bodyak {
  position: relative;
  bottom: 35px
}

.btn {
  margin-top: 36px;
  margin-bottom: 45px;
  background-color: #AB47BC;
  border: none;
  color: #fff
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff
}
.ak_slider_text{
  color: #3a91bc;
  font-weight: bold;
  padding-top: 15px;
}
.ak_slider_text2{
  line-height: 2px;
  font-size: 13px;
  font-weight: 300;
  
}

.ak_slider_text3{
  font-size: 13px;
  width: 80%;
  color: #C7C8C9;
  padding-top: 15px;
 
 

}
.ak_slider_1{
  text-align: center;
  
}

@media(max-width: 967px){
  .stats{
      background-image: none;
  }
}

.stats_card {
  margin: 0px 15px;
  border: 1px solid gray;
  color: white;
  background-color: rgb(29, 31, 38);
  padding: 40px 110px;
  border-radius: 5px;
}

.stats_card_blue {
  margin: 0px 15px;
  border: 1px solid gray;
  color: white;
  background-color: rgb(50,124,165);
  padding: 40px 110px;
  border-radius: 5px;
}

.stats_card p {
  font-size: 15px;
  font-weight: 300;
}

.stats_card_blue p {
  font-size: 15px;
  font-weight: 300;
}
.count {
  font-size: 28px !important;
}
.stats_card3{
  margin: 0px 15px;
  border: 1px solid gray;
  color: white;
  background-color: rgb(29, 31, 38);
  padding: 40px 80px;
  border-radius: 5px;
}

/* footer */
.btn-custom-2{
   border-style: solid;
  border-width: 3px;
  border-image:  linear-gradient(180deg, #225478 0%, #3a91bc 100%) 1 ;

height: 55px;
width: 140px;
}
.btn-custom-2 a{
  color: white;
}

.fa-angle-right{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
  -webkit-background-clip:text;
-webkit-text-fill-color:transparent;
font-size: 18px;

}
.btn-custom-3{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);

height: 55px;
width: 140px;
}
.btn-custom-3 a{
  color: white;

}
.ak_footer_Input{
  background-color: white !important; 

}
.input-group{
  width: 270px !important;
  background-color: white ;
  border-style: none !important;
}
.input-group input{
  background-color: white !important;
  border-style: none !important;

}

.ak_contactbanner2{
  background-image: url(../../assests/images/ak_footer_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  margin-top: 20px;
}

.ak_contactbanner2_text{
  color: white;
  text-transform: uppercase;
  margin-top: 100px;
  font-family: 'Bebas Neue', cursive;
}

.btn_contact3{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
width: 160px;
height: 45px;

margin-top: 20px;
}
.btn_contact3 a{
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.ak_contact2_content{
  padding-left: 140px;
}
footer{
  background-color: #24262D;
}




.btn_footer{
  background: linear-gradient(180deg, #225478 0%, #3a91bc 100%);
  width: 100px;
height: 37px;
margin-right: 10px;
border-radius: 0px;

}
.btn_footer a{
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}
footer a{
  font-size: 14px;
  color: #3D3E42  ;
}
.ak_footer_foot{
  border: 1px solid gray ;
  border-bottom:none ;
  font-size: 13px;
  padding: 0 60px;
}

.ak-f-1{
  padding-right: 200px;
}
/* .ak-f-2{
  padding-left: 100px;
} */

.ak_footer_top{
  padding-top: 270px;
}
.ak_footer_toptext{
  font-size: 14px;
}

@media only screen and (max-width: 430px) {

  .ak_aboutus_bg{
    background-image: url(../../assests/images/ak_about_bg.png);
    background-position:  left ;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: 26%  ;
    background-position: left  top 29%;;
  
  
    
    }
 
    .ak_text-custom_about2{
   
      width: 100% !important;
    
  
     
    }

  .ak_brandlogo{
 
  margin-top: 0px;


}
.ak_about_size{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  width: auto !important;
  background: transparent !important;

}

.ak_about_width{
  width: 100% !important;
}
.ak_slider_text3{
  width: 100% !important;
}
.accordion{
  width: 100% !important;
}
/* .active{
  background-image: linear-gradient(180deg, #225478 0%, #3a91bc 100%) !important;
  width: 500px !important;
  height: ;
  padding: 50px 200px !important;
 
} */
  .ak_hero_content {
margin: 10px 0px;
padding-left: 0;  
text-align: center;
}

.ak_hero_image img{
  padding: 10px 0;
  
  
}
.ak_hero_image
{
  display: flex;
  justify-content: center;  
}
.ak_bitcoin_line{
  padding: 10px 0;
}

.ak_hero_content h1{
  width: 100%;
  color: white;
  font-size: 70px;
}
.ak_hero_content p{
  width: 100%;
  
}
.ak_contact2_content{
  padding-left: 0px;
}
 .ak_footer_top{
   padding-top: 50px;
 }
 .btn_contact {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 85px;
  
 }
 .ak-f-1 {
  padding-right: 0px;

}
.ak-f-1 h4{
  text-align: center;
}
.ak_contact_content2 {
  color: #C7C8C9;
  font-weight: 300;
  font-size: 14px;
  padding-left: 0px;
  text-align: center;
}
.ak_location_icon{
  display: none;
}
.ak_contact_con_text{
  text-align: center;
  padding: 0;
}
.ak_contact_con_text2{
  text-align: center;
  padding: 0;
}
.ak_form_hight{
margin-top:0 !important ;
margin-bottom: 10px !important; 
}
.ak_footer_foot{
  text-align: center !important; 
  padding: 0 ;
}
.ak_footer_text1{
  text-align: center !important;
}
}

@media only screen and (max-width: 912px) {

  .ak_footer_top_logo{
    display: flex;
    justify-content: center;
  }
  .ak_hero_content {
margin: 10px 0px;
padding-left: 0;  
text-align: center;
}

.ak_hero_image img{
  padding: 10px 0;
  
  
}
.ak_hero_image
{
  display: flex;
  justify-content: center;  
}
.ak_bitcoin_line{
  padding: 10px 0;
}

.ak_hero_content h1{
  width: 100%;
  color: white;
  font-size: 70px;
}
.ak_hero_content p{
  width: 100%;
  
}
 
}
/* @media only screen and (max-width: 1400px) {
  .ak_hero_content {
margin: 10px 0px;
padding-left: 0;  
text-align: center;
}

.ak_hero_image img{
  padding: 10px 0;
  
  
}
.ak_hero_image
{
  display: flex;
  justify-content: center;  
}
.ak_bitcoin_line{
  padding: 10px 0;
}

.ak_hero_content h1{
  width: 100%;
  color: white;
  font-size: 70px;
}
.ak_hero_content p{
  width: 100%;
  
}
 
} */